---
import ArticleCard from "./ArticleCard.astro";
---

<section id="volunteering" class="pt-10 sm:flex">
  <h2 class="text-[1.3em] pt-[2px] mb-5 sm:w-48">VOLUNTEERING</h2>
  <div id="volunteering-content" class="sm:flex-1 mt-1">
    <ArticleCard
      title="Teaching Assistant Program"
      subtitle="Academic Experience - Henry Bootcamp"
      responsabilities={[
        "Coordinated a group of students with the objective of integrating them into the study team.",
        "Implemented routines and dynamics to stimulate the relationship between students.",
        "Provided assistance in solving exercises.",
        "Group activities and pair programming were promoted and encouraged.",
        "Feedback and ideas proposed for the improvement of the Bootcamp processes.",
      ]}
      date="Jul 2023 - Sep 2023"
    />
  </div>
</section>
